UnaCloudWebPortal/UnaCloudWebPortal-ejb/src/java/META-INF/wsit-com.losandes.wss.TemplateOperations.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TemplateOperationsService" targetNamespace="http://wss.losandes.com/" xmlns:tns="http://wss.losandes.com/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:wsrm="http://docs.oasis-open.org/ws-rx/wsrmp/200702"
 >
    <message name="turnOnVirtualCluster"/>
    <message name="turnOnVirtualClusterResponse"/>
    <message name="getVirtualMachineExecutions"/>
    <message name="getVirtualMachineExecutionsResponse"/>
    <message name="turnOffVirtualMachine"/>
    <message name="turnOffVirtualMachineResponse"/>
    <message name="getTemplateLists"/>
    <message name="getTemplateListsResponse"/>
    <portType name="TemplateOperations">
        <operation name="turnOnVirtualCluster">
            <input message="tns:turnOnVirtualCluster"/>
            <output message="tns:turnOnVirtualClusterResponse"/>
        </operation>
        <operation name="getVirtualMachineExecutions">
            <input message="tns:getVirtualMachineExecutions"/>
            <output message="tns:getVirtualMachineExecutionsResponse"/>
        </operation>
        <operation name="turnOffVirtualMachine">
            <input message="tns:turnOffVirtualMachine"/>
            <output message="tns:turnOffVirtualMachineResponse"/>
        </operation>
        <operation name="getTemplateLists">
            <input message="tns:getTemplateLists"/>
            <output message="tns:getTemplateListsResponse"/>
        </operation>
    </portType>
    <binding name="TemplateOperationsPortBinding" type="tns:TemplateOperations">
        <wsp:PolicyReference URI="#TemplateOperationsPortBindingPolicy"/>
        <operation name="turnOnVirtualCluster">
            <input>
                <wsp:PolicyReference URI="#TemplateOperationsPortBinding_turnOnVirtualCluster_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#TemplateOperationsPortBinding_turnOnVirtualCluster_Output_Policy"/>
            </output>
        </operation>
        <operation name="getVirtualMachineExecutions">
            <input>
                <wsp:PolicyReference URI="#TemplateOperationsPortBinding_turnOnVirtualCluster_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#TemplateOperationsPortBinding_turnOnVirtualCluster_Output_Policy"/>
            </output>
        </operation>
        <operation name="turnOffVirtualMachine">
            <input>
                <wsp:PolicyReference URI="#TemplateOperationsPortBinding_turnOnVirtualCluster_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#TemplateOperationsPortBinding_turnOnVirtualCluster_Output_Policy"/>
            </output>
        </operation>
        <operation name="getTemplateLists">
            <input>
                <wsp:PolicyReference URI="#TemplateOperationsPortBinding_turnOnVirtualCluster_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#TemplateOperationsPortBinding_turnOnVirtualCluster_Output_Policy"/>
            </output>
        </operation>
    </binding>
    <service name="TemplateOperationsService">
        <port name="TemplateOperationsPort" binding="tns:TemplateOperationsPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="TemplateOperationsPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsam:Addressing wsp:Optional="false"/>
                <tcp:OptimizedTCPTransport enabled="true"/>
                <sp:SymmetricBinding>
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                        <sp:RequireIssuerSerialReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:SignedEncryptedSupportingTokens>
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SignedEncryptedSupportingTokens>
                <sc:KeyStore wspp:visibility="private" location="C:\glassfishv3\glassfish\domains\domain1\config\keystore.jks" type="JKS" storepass="changeit" alias="xws-security-server"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="TemplateOperationsPortBinding_turnOnVirtualCluster_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="TemplateOperationsPortBinding_turnOnVirtualCluster_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
